@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script asp-fallback-src="~/js/vue.js" src="//unpkg.com/vue/dist/vue.js"></script>
    <script asp-fallback-src="~/js/element-ui/lib/index.js" src="//unpkg.com/element-ui@2.10.0/lib/index.js"></script>
    <link asp-fallback-href="~/js/element-ui/lib/theme-chalk/index.css" href="//unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <link href="~/css/ForgetPassword.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>忘记密码</title>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="24">
                <el-card class="head" shadow="always">
                    <el-row>
                        <el-col :span="2" :offset="3">
                            <div class="head_logo">我是logo</div>
                        </el-col>
                        <el-col :span="2">
                            <div class="logo_title">忘记密码</div>
                        </el-col>
                        <el-col :span="3" :offset="10">
                            <div class="head_login_div">已有账号？<a class="head_login_a" asp-controller="Login" asp-action="Index">请登录></a></div>
                        </el-col>
                    </el-row>
                </el-card>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12" :offset="6">
                <div class="content_step">
                    <el-steps :active="active" finish-status="success">
                        <el-step title="步骤 1" description="请填写用户名及验证手机号"></el-step>
                        <el-step title="步骤 2" description="请填写手机验证码"></el-step>
                        <el-step title="步骤 3" description="请重置密码"></el-step>
                        <el-step title="步骤 4" description="完成"></el-step>
                    </el-steps>
                </div>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6" :offset="9">
                <div class="content_operation">
                    <div v-if="active==0">
                        <el-form :model="ruleForm1" status-icon :rules="rules1" ref="ruleForm1" label-width="100px" class="demo-ruleForm">
                            <el-form-item label="用户名" prop="userName">
                                <el-input placeholder="请输入用户名" v-model="ruleForm1.userName" clearable></el-input>
                            </el-form-item>
                            <el-form-item label="验证手机号" prop="phoneNumber">
                                <el-input placeholder="请输入验证手机号" v-model="ruleForm1.phoneNumber" clearable></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div v-if="active==1">
                        <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                            <el-form-item label="手机验证码" prop="authCode">
                                <el-input placeholder="请输入手机验证码" v-model="ruleForm2.authCode" clearable></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div v-if="active==2">
                        <el-form :model="ruleForm3" status-icon :rules="rules3" ref="ruleForm3" label-width="100px" class="demo-ruleForm">
                            <el-form-item label="密 码" prop="userPwd1">
                                <el-input placeholder="请输入密码" v-model="ruleForm3.userPwd1" show-password></el-input>
                            </el-form-item>
                            <el-form-item label="重复密码" prop="userPwd2">
                                <el-input placeholder="请重复输入密码" v-model="ruleForm3.userPwd2" show-password></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div v-if="active==3">
                        完成
                    </div>
                </div>
            </el-col>
        </el-row>
        <div v-if="active!=4">
            <el-row>
                <el-col :offset="17">
                    <el-button style="margin-top: 12px;" @@click="next">下一步</el-button>
                </el-col>
            </el-row>
        </div>
        <script type="text/javascript">
            var Main = {
                data() {
                    var validateUserName = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入用户名'));
                        } else if (value.length > 16) {
                            callback(new Error('用户名长度不能大于16位'));
                        } else {
                            if (this.ruleForm1.userName !== '') {
                                this.$refs.ruleForm1.validateField('validateUserName');
                            }
                            callback();
                        }
                    };
                    var validatePhoneNumber = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入手机号码'));
                        } else if (value.length > 11) {
                            callback(new Error('手机号码不能大于11位'));
                        } else {
                            if (this.ruleForm1.phoneNumber !== '') {
                                this.$refs.ruleForm1.validateField('validatePhoneNumber');
                            }
                            callback();
                        }
                    };
                    var validateAuthCode = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入手机验证码'));
                        } else if (value.length != 4) {
                            callback(new Error('手机验证码不等于4位'));
                        } else {
                            if (this.ruleForm2.authCode !== '') {
                                this.$refs.ruleForm2.validateField('validateAuthCode');
                            }
                            callback();
                        }
                    };
                    var validateUserPwd1 = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输新密码'));
                        } else if (value.length > 16 || value.length < 6) {
                            callback(new Error('新密码长度应在6-16位'));
                        } else {
                            if (this.ruleForm3.userPwd1 !== '') {
                                this.$refs.ruleForm3.validateField('validateUserPwd1');
                            }
                            callback();
                        }
                    };
                    var validateUserPwd2 = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请输入重复密码'));
                        } else if (value !== this.ruleForm3.userPwd1) {
                            callback(new Error('两次密码输入不一致'));
                        }
                        else {
                            if (this.ruleForm3.userPwd2 !== '') {
                                this.$refs.ruleForm3.validateField('validateUserPwd2');
                            }
                            callback();
                        }
                    };
                    return {
                        active: 0,
                        ruleForm1: {
                            userName: '',
                            phoneNumber: ''
                        },
                        ruleForm2: {
                            authCode: ''
                        },
                        ruleForm3: {
                            userPwd1: '',
                            userPwd2: ''
                        },
                        rules1: {
                            userName: [
                                { validator: validateUserName, trigger: 'blur' }
                            ],
                            phoneNumber: [
                                { validator: validatePhoneNumber, trigger: 'blur' }
                            ]
                        },
                        rules2: {
                            authCode: [
                                { validator: validateAuthCode, trigger: 'blur' }
                            ]
                        },
                        rules3: {
                            userPwd1: [
                                { validator: validateUserPwd1, trigger: 'blur' }
                            ],
                            userPwd2: [
                                { validator: validateUserPwd2, trigger: 'blur' }
                            ]
                        },
                    };
                },

                methods: {
                    next() {
                        if (this.active == 0) {
                            this.submitForm('ruleForm1')
                        } else if (this.active == 1) {
                            this.submitForm('ruleForm2')
                        } else if (this.active == 2) {
                            this.submitForm('ruleForm3')
                        } else {
                            alert("完成")
                        }

                    },
                    submitForm(formName) {
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                this.active++;
                            } else {
                                console.log('error submit!!');
                                return false;
                            }
                        });
                    },
                }
            }
            var Ctor = Vue.extend(Main)
            new Ctor().$mount('#app')
        </script>
    </div>
</body>
</html>
