body {
}

* {
    margin: 0;
    padding: 0
}

.head {
    height: 100px;
    background-color: #FFF;
}

.head_logo {
    width: 150px;
    height: 100px;
    background-color: #FFF;
}

.head_login_div {
    margin-top: 40px;
    font-size: 16px;
    color: #999;
}

.head_login_a {
    font-size: 16px;
    color: red;
}

.logo_title {
    font-size: 24px;
    color: #333;
}

.content_step {
    margin-top: 100px;
}

.content_operation {
    margin-top: 50px;
}
